.flexslider {
    margin: 0 0 60px;
    background: transparent;
}
video
{
  width: 100%;
  opacity:.85;
  min-height:100vh;
  margin:0 auto;
  position:fixed;
  background: transparent;
  border-radius: 5px;
}
