.flexslider {
    margin: 0 0 60px;
    background: transparent;
}

#main{
	   position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
video
{
  width: 100%;
  opacity:.85;
  min-height:100vh;
  margin:0 auto;
  position:fixed;
  background: transparent;
  border-radius: 5px;
}
